*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;  
    color: white;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}

.first-section {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../IMG/formula.jpg");
    background-size: cover;
}

.triviaDiv {
    width: 300px;
    height: 50%;
    border-radius: 5%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../IMG/formula.jpg");
    background-size: cover;

}

.triviaForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.general-label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.general-input {
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10%;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.inputCategory {
    width: 20%;
}

.question-Section {
    width: 100%;
    height: 95vh;
    position: fixed;
    z-index: 99999;
    background-color: black;
}

.questionsDiv {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.buttonDiv {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionsFill {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: white;
}

.buttonsAnswer {
    margin: 2%;
    width: 20%;
    height: 50%;
    border-radius: 25% 10%;
}

button {
    border:none;
    background-color: darkgray;
}

button:hover {

    background-color: gold;

}

.exitButton {
    width: 10%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center ;
    /* background-color: white; */
    border: none;
    border-radius: 10px 100px / 120px; ;
}

.numeroPreguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoAnswer {
    display: flex;
    flex-direction: row;
}

.infoAnswer p {
    font-size: large;
    margin: 2%;
}

.infoClass {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.infoClass2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

.scoreP {
    padding: 2%;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.scorePantalla {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red;    */
}

#myProgress {
    width: 20%;
    background-color: lightgray;
    margin-bottom: 2%;
}
    
#myBar {
    width: 0%;
    height: 20px;
    background-color: gold;
    text-align: center;
    line-height: 20px;
    color: black;
}